/*
 *    Leaflet.js map styles
 */

.leaflet-popup-content-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 1px;
  width: 300px;
  font-size: 15px;
  font-family: 'Open Sans';
  color: #333;
  box-shadow:  1px 1px 4px #bbb;
}

.open-detail-view {
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.open-detail-view:hover {
  text-decoration: underline;
}

.leaflet-popup-content {
  margin: 0;
  width: 300px !important;
}

.leaflet-container img {
  width: 100%;
}

.leaflet-listing-details {
  padding: 15px;
}